/*Global*/
html{
  box-sizing: border-box;
  height: 100%;
}
*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background: #f6f6f6 ;
  height: 100%;
  margin: 0;/*fits boxes and images to the edges of the page*/
  margin-top: -25px;

}
.content {
  margin: 0 auto;
  max-width: 900px;/*pulls content into the middle of the page*/
  padding: 40px;/*gives cool space between elemnets*/
  margin-top: 80px;
}
.navbar {
  background-image: url(/css/1.1.jpg);
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
}

/*navbar link decoration*/
.navbar a {
  color: #fff;
  text-decoration: none;
  
}

a{
 color:black ;
 text-decoration: none;
}
a:hover{
  color: gray ;
}

/*index*/
/*Home*/
/*Tournament*/
/*clans*/
/*about us*/

/*Theme*/
/*.light-theme {
  background-color: var(--light-background);
  color: var(--light-text);
}
{this is for when you make the themes i want to understand how it works before actually using it}
.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
}
assoiciated html incase you forget
<body class="light-theme">
    <!-- Your content here -->
</body>
and the java mainly because of this guy why am reluctant
 // Switch to dark theme
document.body.className = "dark-theme";

// Switch to light theme
document.body.className = "light-theme";

*/