/*Global*/
html{
  box-sizing: border-box;
  height: 100%;
}
*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background: #f6f6f6 ;
  height: 100%;
  margin: 0;/*fits boxes and images to the edges of the page*/
  margin-top: -25px;

}
.content {
  margin: 0 auto;
  max-width: 900px;/*pulls content into the middle of the page*/
  padding: 40px;/*gives cool space between elemnets*/
  margin-top: 50px;
}
.navbar {
  background-image: url(images/1.1.jpg);
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; 
  display: flex;
  justify-content: space-evenly;
}

/*navbar link decoration*/
.navbar a {
  color: #fff;
  text-decoration: none;
  
}

a{
 color:black ;
 text-decoration: none;
}
a:hover{
  color: gray ;
}

/*index*/
 .grid-container{
  width: 100%;
  height: 100%;
  margin-top: -50px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding:0 50px 50px 50px
 }
 @media (max-width:450px){

 }

 .grid-item{
  border-radius: 2px;
  display: flex;
  padding:10px;
  align-items:center;
  justify-content:center;
  margin-bottom: -100px;
 }
 .grid-item img{
  border-radius: 20px;
  width: 100%;
 }

 .grid-item img:hover{
  opacity: 0.5;
 }

/*Home*/
/*Tournament*/
/*clans*/
/*about us*/
.board{
  display: flow-root;/*for place images at the start of line for the deisre effect of one side*/
}

.board img{
  width: 200px;
  float: left;
  margin-right: 20px;
  max-height: 600px;
  max-width: 400px;
  margin-top: -15px;
}
.board li{
  list-style: none;
}

.board h3{
  border-bottom: 3px dashed #d3d4d6;

}
/*footer*/
footer {
  background: #222;
  color: white;
  display: flex; 
  justify-content: space-between;
  padding: 0 20px;
}

.socials{
  list-style-type: none;
  padding: 0;

}
.socials li{
  display: inline-block;
  margin-left: 10px;
}

.socials img{
  width: 30px;
}

.socials img:hover{
  opacity: 0.5;
}

/*Theme*/
/*.light-theme {
  background-color: var(--light-background);
  color: var(--light-text);
}
{this is for when you make the themes i want to understand how it works before actually using it}
.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
}
assoiciated html incase you forget
<body class="light-theme">
    <!-- Your content here -->
</body>
and the java mainly because of this guy why am reluctant
 // Switch to dark theme
document.body.className = "dark-theme";

// Switch to light theme
document.body.className = "light-theme";

*/